*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(77, 160, 254);
    height: 100px;
    background-image: url('../img/pattern.png');
    background-size: 400px;
}


.logo{
    width: 200px;
    padding: 40px 0 10px 10px;
}

#main-title{
    margin-top: 10px;
    margin-right: 100px;
}

.writed-by{
    font-size: 15px;
    color: grey;
    font-weight: 800;
}

.info{
    font-style: italic;
    font-size: 10px;
    font-weight: 500;
}

.bolder{
    margin-top: 20px;
    font-weight: 550;
    width: 1000px;
}

.highlighted{
    background-color: yellow;
}

.list{
    margin-top: 20px;
    padding-left: 20px;
}

.table{
    border-collapse: collapse;
    margin-top: 20px;
}
  
.white-bg_blue{
    text-align: left;
    background-color: rgb(42, 172, 211);
    color: white;
}
.bg_azure{
    background-color: rgb(121, 250, 250);
}

.medium{
    width: 250px;
    
}
 .large{
    width: 500px;
 }