*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(77, 160, 254);
    height: 100px;
    background-image: url('../img/pattern.png');
    background-size: 400px;
}

.logo{
    width: 200px;
    padding: 40px 0 10px 10px;
}